<%= render "parts/first-header" %>
<div class="top-wrapper">
  <div class="catchphrase">
    オイシイは<br>冒険だ
  </div>
</div>
<div class="top-main">
  <div class="left-content">
    <div class="pickup">
      ピックアップ機能表示予定
    </div>
    <div class="news">
      ニュース一覧表示予定
    </div>
  </div>
  <div class="right-content">
    <div class="archive">
      アーカイブ表示予定
    </div>
  </div>
</div>