.second-header-food-wrapper {
  width: 100%;
  height: 120px;
  background-image: url(second-foods-header.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.second-header-translucent{
  width: 100%;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-box {
  width: 200px;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

.menu-title {
 font-size: 20px;
 text-align: center;
 line-height: 60px;
 font-weight: bold;
}

.food-main {
  width: 100%;
  height: 90vh;
  padding: 20px;
  border: thick double gray;
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  overflow: auto;
  display: flex;
}

.food-second-main {
  width: 100%;
  height: 90vh;
  padding: 20px;
  border: thick double gray;
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.foods-frame {
  width: 180px;
  height: 150px;
  margin-right: 3%;
}

.foods-image {
  width: 100%;
  height: 120px;
}

.foods-contents {
  width: 100%;
  height: 30px;
  display: flex;
}

.foods-title {
  width: 160px;
  height: 100%;
  padding: 5px 0 0 10px;
}

.foods-count {
  width: 40px;
  height: 100%;
  text-align: center;
  padding: 5px 0;
}

.food-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.return-btn-box {
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: rgba(133, 215, 74, 0.8);
  border-radius: 12px;
  margin: 20px 0;
}

.return-btn {
  text-decoration: none;
  color: #333333;
}

.food-title {
  width: 100%;
  height: 10%;
  padding-left: 10px;
  font-size: 36px;
  font-family: serif;
  border-bottom: 1px solid gray;
}

.food-detail {
  width: 100%;
  height: 80%;
  margin-top: 20px;
  position: relative;
}

.food-detail-content {
  width: 60%;
  height: 100%;
  padding: 10px;
  font-size: 20px;
  background-color: #EEE;
}

.food-explanation {
  height: 40%;
}

.category-decoration {
  font-size: 32px;
  padding: 5px;
  margin-top: 10px;
  color: #FFF;
  -webkit-text-stroke: 0.5px #000;
  background-color: lightgreen;
}

.season-decoration {
  font-size: 32px;
  padding: 5px;
  margin-top: 10px;
  color: #FFF;
  -webkit-text-stroke: 1px #000;
  background-color: blue;
}

.food-detail-image {
  width: 40%;
  height: 60%;
  bottom: 0;
  position: absolute;
  right: 0;
  bottom: 0;
}

.food-detail-image img {
  width: 100%;
  height: 100%;
}
